server:
  port: 8080
  address: 0.0.0.0

spring:
  kafka:
    consumer:
      enable-auto-commit: false
    producer:
      acks: all

app:
  topics:
    in: load-topic
    out: reply-topic

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    prometheus:
      enabled: true
